body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.logo-text h1 {
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.logo-text h3 {
    margin-top: -25px;
    font-size: 12px;
    color: white;
}
.logo-subtext {
    margin-left: -164px;
    margin-top: -14px;
    font-size: 12px;
    color: white;
    text-align: center;
}

nav ul li a:hover {
    text-decoration: underline;
    color:#a3a3a3;
}

.section-evolution {
    width: 100%;
    overflow-x: auto;
    padding: 50px 0;
}

.section-evolution h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    overflow-x: auto;
    padding: 0 20px;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 18%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 420ms;
}

.card h3 {
    margin-top: 0;
}

.card img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid black ;
}


.card:hover {
    transform: scale(1.09);
    border: 2px solid black ;
    background-color: #a3a3a3;
   

}

.strip1 img {
    height: 150px;
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(240, 239, 239, 0.5);
    margin-left: 80%;
    margin-top: -500px;
    transform: rotateY(30deg) translateZ(50px);
    transition: transform 0.5s;
}

.strip1 img:hover {
    transform: rotateY(30deg) translateZ(100px);
    box-shadow: 0 8px 16px rgba(240, 239, 239, 0.8);
}
.section-intro {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.details {
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 350px;
    width: 100%;
}

.details h2 {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.details p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.details:hover {
    color: black;
}

.strip1 {
    padding: 50px;
    background-color: #1c1c1c;
    color: white;
    text-align: left;
    margin-top: 50px;
    border-radius: 20px;
}

.strip1 h2 {
    font-size: 28px;
}
.strip1 p{
   line-height: 1.8;
}

.strip1 img {
    height: 150px;
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(240, 239, 239, 0.5);
    margin-left: 80%;
    margin-top: -500px;
}

.strip1 img:hover {
    background-color: #f4f4f4;
   
}
.strip1 img:hover {
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}