body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.logo-text h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}


.logo-subtext {
    margin-left: -164px;
    margin-top: -14px;
    font-size: 12px;
    color: white;
    text-align: center;
}
nav ul li a:hover {
    text-decoration: underline;
    color:#a3a3a3;

}
.section-intro {
    position: relative;
    height: 600px;
    display: flex;
   
    align-items: center;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.details {
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
 margin-top: 350px;
   width: 100%;
    object-fit: cover;
}

.details h2 {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.details p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.details:hover{
    color: black;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 18%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}
.section-evolution,.card-container, .card:hover{
    transform: scale(1.09);
}
.section-evolution,.card-container, .card{
   
    transition:transform 420ms;
}
